/* This file is for general styles that will be used across the website for elements that will likely be present on all webpages*/

/* Global styles */
* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selection color */
::selection {
    background: #ff6347;
}

/* Body styling including background color, image, and text color */
body {
    background-color: rgb(41, 41, 41);
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 210vh;
    color: white;
}

/* Navbar styling with background color, padding, and flexbox layout */
nav {
    background-color: #000000;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation links list styling */
#nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Links inside the navigation bar */
#nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Hover effect for nav links */
#nav-links a:hover {
    color: #ff6347;
}

/* Content section styling (main section of the page) */
.content-section {
    width: 50%;
    padding-left: 50px;
    margin-right: 200px;
}

/* Main heading styling */
.content-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Paragraph styling inside the content section */
.content-section p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* List styling inside the content section */
.content-section ul {
    font-size: 15px;
}

/* List item styling */
.content-section ul li {
    margin-bottom: 10px;
}

/* Search bar container positioning */
#search-container {
    position: relative;
}

/* Search input field styling */
#search-container input {
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: #414141;
    color: white;
}

/* Search button styling */
#search-container button {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    border: none;
    background-color: #393939;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}


/* Hover effect for footer links */
footer a:hover {
    text-decoration: underline;
}

/* Link styling inside figcaption (image captions) */
figcaption a {
    color: #ff6347;
    text-decoration: none;
}

/* Hover effect for figcaption links */
figcaption a:hover {
    text-decoration: underline;
}
